@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
    --cor-principal: #4a8b6d;
    --cor1: #384b41;
    --cor2: #9bb0a5;
    --cor3: #4085af;
    --cor4: #00547a;
    --preto: #000000;
    --Branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family: 'Calistoga';
}

#contato {
    background: var(--cor1);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--Branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--cor3);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor4);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}